<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="724f2adc-882a-46cc-92a6-2eecbe7ec901"
            Publisher="CN=Alex Jimenez"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>DemoWindows8MVVM-Incorrecto</DisplayName>
    <PublisherDisplayName>Alex Jimenez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="DemoWindows8MVVM_Incorrecto.App">
        <m2:VisualElements
            DisplayName="DemoWindows8MVVM-Incorrecto"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="DemoWindows8MVVM-Incorrecto"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>